@import url("https://use.typekit.net/lsa2gwg.css");
:root .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
:root .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
:root body * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
:root body > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #CB5275;
}
:root body a {
  all: unset;
}
:root body #linktree {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 900;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #DFAD59;
  background-color: #CB5275;
}
@media (min-width: 500px) {
  :root body #linktree {
    width: 500px;
  }
}
:root body #linktree .linktree-titles {
  color: #291a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 18vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (min-width: 500px) {
  :root body #linktree .linktree-titles {
    width: 500px;
  }
}
:root body #linktree .linktree-titles h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
:root body #linktree .linktree-titles h3 {
  font-size: 1.1rem;
  color: #DFAD59;
  font-family: "forma-djr-deck", sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
}
@-webkit-keyframes linktreeImgs {
  00% {
    background-position: top;
    background-image: url("./imgs/link-tree-img1.png");
    background-size: 112%;
  }
  10% {
    background-image: url("./imgs/link-tree-img1.png");
    background-position: top;
    background-size: 125%;
  }
  20% {
    background-image: url("./imgs/link-tree-img2.png");
    background-position: top;
    background-size: 125%;
  }
  40% {
    background-position: bottom;
  }
  60% {
    background-position: bottom left;
    background-size: 150%;
    background-image: url("./imgs/link-tree-img3.png");
  }
  65% {
    background-position: bottom right;
    background-size: 150%;
    background-image: url("./imgs/link-tree-img4.png");
  }
  90% {
    background-position: bottom right;
    background-size: 125%;
    background-image: url("./imgs/link-tree-img5.png");
  }
}
@keyframes linktreeImgs {
  00% {
    background-position: top;
    background-image: url("./imgs/link-tree-img1.png");
    background-size: 112%;
  }
  10% {
    background-image: url("./imgs/link-tree-img1.png");
    background-position: top;
    background-size: 125%;
  }
  20% {
    background-image: url("./imgs/link-tree-img2.png");
    background-position: top;
    background-size: 125%;
  }
  40% {
    background-position: bottom;
  }
  60% {
    background-position: bottom left;
    background-size: 150%;
    background-image: url("./imgs/link-tree-img3.png");
  }
  65% {
    background-position: bottom right;
    background-size: 150%;
    background-image: url("./imgs/link-tree-img4.png");
  }
  90% {
    background-position: bottom right;
    background-size: 125%;
    background-image: url("./imgs/link-tree-img5.png");
  }
}
:root body #linktree .linktree-img-container {
  height: 28vh;
  position: relative;
}
:root body #linktree .linktree-img-container .linktree-img {
  background-repeat: no-repeat;
  height: 20vh;
  background-position: bottom right;
  background-size: 125%;
  background-image: url("./imgs/link-tree-img5.png");
  border-top: #291a40 solid 3px;
  border-bottom: #291a40 solid 3px;
  -webkit-animation: linktreeImgs 20s;
          animation: linktreeImgs 20s;
}
@media (min-width: 500px) {
  :root body #linktree .linktree-img-container .linktree-img {
    border: #291a40 solid 5px;
  }
}
:root body #linktree .linktree-img-container .profile-pic {
  position: absolute;
  left: 2vh;
  bottom: 0vh;
  height: 13.5vh;
  width: 13.5vh;
  background-color: #fff;
  background-image: url(./imgs/headshot.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: #CB5275 solid 0.4rem;
  border-radius: 50%;
  z-index: 4;
}
:root body #linktree .linktree-img-container .subheading {
  position: absolute;
  left: 13.5vh;
  font-size: 0.9rem;
  padding: 0.35rem 1.5rem;
  border: #291a40 solid 1px;
  border-radius: 0 0.1rem 0.5rem;
  background-color: #291a40;
}
:root body #linktree .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  width: 100vw;
}
@media (min-width: 500px) {
  :root body #linktree .btn-container {
    width: 500px;
  }
}
:root body #linktree .btn-container .link {
  width: 92%;
  background-color: #291a40;
  margin: 1vh 4% 1vh 4%;
  height: 6vh;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform ease-in-out 0.1s;
  transition: -webkit-transform ease-in-out 0.1s;
  transition: transform ease-in-out 0.1s;
  transition: transform ease-in-out 0.1s, -webkit-transform ease-in-out 0.1s;
  -webkit-box-shadow: 0px 6px #DFAD59;
          box-shadow: 0px 6px #DFAD59;
}
:root body #linktree .btn-container .link a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  line-height: 100%;
}
:root body #linktree .btn-container .link:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
:root body #linktree .footer {
  width: 80%;
  height: 16vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10%;
}
:root body #linktree .footer .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7vh;
  width: 7vh;
  background-color: #291a40;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform ease-in-out 0.1s;
  transition: -webkit-transform ease-in-out 0.1s;
  transition: transform ease-in-out 0.1s;
  transition: transform ease-in-out 0.1s, -webkit-transform ease-in-out 0.1s;
}
:root body #linktree .footer .link a {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7vh;
  width: 7vh;
}
:root body #linktree .footer .link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (min-width: 500px) {
  body #linktree {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  body #linktree .linktree-img-container .linktree-img {
    border-radius: 15px;
  }
}
